:root {
    --first-color: #f70025;
    --second-color: #f25c00;
}

.form-group {
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
}

header {
    /* background-color: #f7efe2; */
    background-color: #0e1a34;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
}

header ul {
    list-style: none;
}

header ul > li > a {
    text-decoration: none;
    color: #000;
}

header .line {
    height: 1.5rem;
    background-color: #ddd;
    padding: 0.02rem;
}

header .item-links > a,
header li .btn-signin,
header li .btn-signup {
    padding: 1rem 1rem;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
    color: #fff;
}

header .item-links > a:hover,
header li .btn-signin:hover,
header li .btn-signup:hover {
    cursor: pointer;
    background-color: #19284a;
    border-bottom: 2px solid #fff;
}

header .item-links > a.active {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #fff;
}

header li.li-option {
    position: relative;
}

header li.li-option > .link-suboption {
    width: 30px;
    height: 30px;
}

header li.li-option > .link-suboption * {
    pointer-events: none;
}

header li.li-option > .link-suboption::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3rem;
    border-radius: 30px;
    background-color: green;
}

header li.li-option > .link-suboption > img {
    width: 30px;
    height: 30px;
}

header li.li-option > ul {
    display: none;
}

header li.li-option > .link-suboption:hover ~ ul,
header li.li-option > ul:hover {
    display: block;
    width: 6rem;
    position: absolute;
    left: -2rem;
    padding: 0;
    background-color: #fff;
    bottom: -3.9rem;
    text-align: center;
    /* height: 60px; */
}

header li.li-option > ul > li {
    width: 100%;
    margin-right: 2rem !important;
    /* padding: 1rem 1rem; */
}

header li.li-option > ul > li:first-child {
    border-bottom: 1px solid #eee;
}

header li.li-option > ul > li > a {
    width: 100%;
}

/* ! ESTILOS DE MENSAJES DE ERROR */
