:root {
}

.main-home {
    background: transparent;
}

/* ! SECTION MOVIES */
.movies-container {
    border-top: 2px solid red;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem;
    width: 90%;
    border-radius: 4px;
    background-color: #f8f8f8;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movies-container .card-movie > .movie-details > img,
.movies-container .card-movie > .movie-details > .content-movie {
    border-radius: 10px;
}

.movies-container .card-movie > .movie-details > .content-movie > p {
    font-size: 17px;
}
