:root {
    --first-color: #f70025;
    --second-color: rgb(240, 92, 0);
    --second-color: #f25c00;
}

main {
    background: url("/assets/img/movies.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main-card-content {
    background-color: #f8f8f8;
    border-radius: 8px;
    width: 95%;
    margin: auto auto;
    padding: 1rem;
}

.main-card-content article h4 {
    border-bottom: 2px solid rgba(240, 92, 0, 0.2);
    padding: 0.5rem 0 1rem 0.5rem;
}

/* ! ULTIMAS PELICULAS COMENTADAS */

.main-card-content article .movies-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}

.last-comment .movies-container .card-movie {
    background-color: #fff;
    padding: 0;
    color: #000;
    text-decoration: none;
}

.last-comment .movies-container .card-movie figure {
    position: relative;
}

.last-comment .movies-container .card-movie figure > p {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 0.2rem 0.7rem;
}

.last-comment .movies-container .card-movie figure > p > span.icon-star {
    content: url("/assets/icons/estrella.png");
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.last-comment .movies-container .card-movie figure img {
    width: 100%;
    height: 300px;
    max-height: 300px;
    transition: all 0.2s;
}

.last-comment .movies-container .card-movie > div h6 {
    font-weight: 600;
}

.last-comment .movies-container .card-movie > div p.title-comment {
    font-size: 15px;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.last-comment .movies-container .card-movie > div p.comment {
    font-size: 13px;
    margin-bottom: 0.2rem;
}

/* ! BEST MOVIES POINTER */
.best-pointer .card-movie {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 0;
    border-bottom: 1px solid #cccccc;
}

.best-pointer .card-movie > figure > img {
    width: 100%;
    height: 90px;
    max-height: 90px;
}

.best-pointer .card-movie > div {
    padding-left: 1rem;
    position: relative;
}

.best-pointer .card-movie > div p.title-movie {
    font-size: 14px;
    font-weight: 600;
}

.best-pointer .card-movie > div p.points-movie {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 13px;
}

.best-pointer .card-movie > div p.points-movie > span.icon-star {
    content: url("/assets/icons/estrella.png");
    width: 15px;
    height: 15px;
    margin-right: 0.3rem;
}
